.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}
.logo_container{
height: 164px;
    width: 200px;
    z-index: 1000;
    position: absolute;
    background: #800000;
    top: 0px;
    box-shadow: 0 0 10px rgba(0,0,0,.8);
	}
.logo{
	    float: left;
    display: block;
    margin: 0px 0 25px 14px;
    width: 170px;
    height: 30px;
}

.header_wrapper {
    //padding-top: 5px;
}


.jh-conf-list li{
	list-style-type: none;
	border-bottom: 2px dotted #eee;
}

.jh-conf-list {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
}
.jh-conf-list li {
	padding: 5px 10px;
}
.conf-list-title {
	padding: 5px 20px;
	background-color: #800000;
	color: #fff
}
.conf-posts {
	padding: 10px
}
.conf-posts h4 {
	color: #7e7c7c;
}
.jh-content-title span{
	border-bottom: 2px solid #800000;
}
.jh-footer-nav li{
	list-style-type: none;
	float: left;
	padding: 10px
}
.jh-social {
	float: right
}
.jh-social img{
	width:30px;
}
.jh-social li{
	list-style-type: none;
	float: left;
	padding: 10px;
}
.jh-footer {
	padding-top: 20px;
	background-color: #800000;
	margin-top:30px;
}
.jh-footer a{
	color: #fff;
}
.compscroll ul li{
            float:left;
            list-style-type:none;
            margin:15px;
            
            }   
 .nv{
	color:#fff;
	padding:10px;
 }  
.nv1{
	color:#fff;
	padding:10px;
	background-color:#800000;
 } 
 
 a:hover { 
    color:#800000;
	background-color:#fff;
	text-decoration:none;
}

.compdetail{
                width:300px;
                height:150px;
                overflow-y:scroll;
                color:#000;
                text-align:justify;
                padding:6px;
                font-size:0.85em;
            }
.compdetail::-webkit-scrollbar {
    width: 12px;
}
 
.compdetail::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
.compdetail::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
